/**
 * @file Contains styles of chat
 * @author Vojtěch Kulíšek
 */

.chat{
	position: fixed;
	bottom: 6px;
	left: 6px;
	z-index: 1;
	width: 300px;
}
.chat.not-conected{
	display: none;
}
.chat>.messages{
	border-radius: 6px;
	padding: 6px 0;
	position: fixed;
    width: 300px;
    bottom: 53px;
    height: calc(100% - 127px);
    overflow-y: hidden;
	transition: background 0.1s;
}
.chat>.messages>div{
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	overflow-y: hidden;
}
.chat>.messages>div>p{
	padding: 6px 12px;
	margin: 6px 0;
	opacity: 0.7;
	border-radius: 6px;
	word-break: break-all;
	background: rgba(255, 255, 255, 1);
	transition: opacity 0.1s, background 0.1s;
}

.chat>.messages>div>p.old{
	opacity: 0;
	background: rgba(255, 255, 255, 0);
}

.chat>.input{
	margin-top: 6px;
	width: 100%;
}
.chat>.input>input{
	border: none;
	height: 17px;
	padding: 12px 41px 12px 12px;
	border-radius: 6px;
	width: calc(100% - 53px);
	background: rgb(255, 255, 255);
}
.chat>.input>button{
	position: absolute;
	right: 0;
	height: 41px;
	width: 41px;
	border-radius: 12px;
	border: none;
	background-image: url(../img/send.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: unset;
	box-shadow: none;
}

.chat:focus-within{
	z-index: 5;
}
.chat:focus-within>.messages{
	background: rgb(255, 255, 255);
}
.chat:focus-within>.messages>div{
	overflow-y: auto;
}
.chat:focus-within>.messages>div>p{
	opacity: 1;
}

@media screen and (max-width: 760px){
	.chat{
		width: calc(100% - 12px);
	}
	.chat>.messages{
		width: calc(100% - 12px);
		height: calc(50% - 175px);
	}


	.chat.game-running{
		bottom: 118px;
		z-index: 3;
	}
	.chat.game-running.hide{
		display: none;
	}
	.chat.game-running>.messages{
		bottom: 165px;
		height: calc(100% - 221px);
		background: rgb(255, 255, 255);
		overflow-y: hidden;
	}
	.chat.game-running>.messages>div{
		overflow-y: auto;
	}
	.chat.game-running>.messages>div>p{
		opacity: 1;
	}
}