/**
 * @file Contains styles of game control_panel
 * @author Vojtěch Kulíšek
 */

.control_panel>.buttons{
	position: fixed;
	display: flex;
	width: 310px;
	right: 3px;
	top: 41px;
}
.control_panel>.buttons>button{
	flex: 1;
	height: 50px;
	margin: 3px;
	border: none;
	background-color: #bfb;
	transition: background-color 0.2s;
}
.control_panel>.buttons>.statistics{
	margin: 0;
}
.control_panel>.buttons>button.closed{
	background-color: rgba(255,255,255,0.95);
}
.control_panel>.stats {
	position: fixed;
	display: flex;
	width: 310px;
	right: 3px;
	top: 3px;
}
.control_panel>.stats>div{
	flex: 1;
	display: flex;
	height: 32px;
	margin: 3px;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,0.95);
}
.control_panel>.lists{
	position: fixed;
	margin: 3px;
	top: 97px;
	bottom: 3px;
	right: 3px;
	width: 304px;
	overflow: hidden;
	border-radius: 6px;
	background: rgba(255,255,255,0.95);
	z-index: 3;
}

.control_panel>.buttons>button{
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 75%;
}
.control_panel>.buttons>.buy{
	background-image: url(../img/buy.svg);
}
.control_panel>.buttons>.my{
	background-image: url(../img/my.svg);
}
.control_panel>.buttons>.enemy{
	background-image: url(../img/enemy.svg);
}
.control_panel>.buttons>.companies{
	display: none;
	position: absolute;
	bottom: 56px;
	right: 0;
	width: calc(33.33% - 6px);
	background-image: url(../img/companies.svg);
}
.control_panel>.buttons>.chat{
	display: none;
	position: absolute;
	left: 33.33%;
	bottom: 56px;
	width: calc(33.33% - 6px);
	background-image: url(../img/chat.svg);
 }
 .control_panel>.buttons>.chat.chat-new-message{
	animation: breathing 3s;
	animation-iteration-count: infinite;
 }
.control_panel>.lists .closed, .control_panel.closed{
	display: none;
}

.control_panel>.lists>.box{
	display: flex;
	width: 300%;
	height: 100%;
	position: absolute;
	transform: translateX(0);
	transition: transform 0.2s;
}
.control_panel>.lists>.box.buy{
	transform: translateX(-66.66%);
}
.control_panel>.lists>.box.my{
	transform: translateX(-33.33%);
}
.control_panel>.lists>.box.enemy{
	transform: translateX(0);
}
.control_panel>.lists>.box>.list{
	flex: 1;
	overflow-x: auto;
}


.control_panel>.lists>.box>.list>div{
	display: flex;
	margin: 6px;
	min-height: 104px;
	border-radius: 6px;
	border: 1px #000 solid;
}
.control_panel>.lists>.box>.list>div>img{
	width: 60px;
	top: 0;
	bottom: 0;
	margin: auto 22px;
	height: 60px;
	border-radius: 6px;
}
.control_panel>.lists>.box>.list>div>div{
	width: calc(100% - 80px);
	margin-right: 8px;
	align-content: center;
	align-items: center;
	display: grid;
	padding: 8px 0;
}
.control_panel>.lists>.box>.list>div>div>button{
	margin-top: 3px;
}

.control_panel>.lists>.box>.list>div.blink_slow{
	animation: blink_slow 0.5s;
}
.control_panel>.lists>.box>.list>div.blink_fast{
	animation: blink_fast 0.3s;
}

@keyframes blink_slow{
	40% {background-color: rgba(255,255,255,0);}
	70% {background-color: rgba(50,150,50,1);}
	100% {background-color: rgba(255,255,255,0);}
}
@keyframes blink_fast{
	0% {background-color: rgba(255,255,255,0);}
	50% {background-color: rgba(50,150,50,1);}
	100% {background-color: rgba(255,255,255,0);}
}

@keyframes breathing{
	0% {background-color: rgba(255,255,255,0.95);}
	50% {background-color: rgba(255,187,187,1);}
	100% {background-color: rgba(255,255,255,0.95);}
}

@media screen and (max-width: 760px){
	.control_panel>.buttons {
		top: auto;
		bottom: 3px;
		width: calc(100% - 6px);
	}
	.control_panel>.stats {
		top: 3px;
		width: calc(100% - 6px);
	}
	.control_panel>.lists {
		top: 41px;
		bottom: 115px;
		width: calc(100% - 12px);
	}

	.control_panel>.buttons>.statistics{
		position: absolute;
		top: auto;
		left: auto;
		bottom: 56px;
		width: calc(33.33% - 6px);
		margin: 3px;
	}

	.control_panel>.buttons>.companies, .control_panel>.buttons>.chat{
		display: block;
	}

	.control_panel>.lists.closed{
		display: none;
	}
}