/**
 * @file Contains styles of input text bubble
 * @author Vojtěch Kulíšek
 */

.input-bubble{
	position: relative;
}
.input-bubble>div.none{
	display: none;
}
.input-bubble>div{
	position: absolute;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, 0);
	background: #000;
	color: #fff;
	padding: 6px;
	text-align: center;
	border-radius: 6px;
	bottom: calc(100% + 6px);
	transition: opacity 0.2s;
}
.input-bubble>div:after{
	content: "";
	position: absolute;
	left: 50%;
	width: 15px;
	height: 15px;
	top: calc(100% - 7px);
	background: #000;
	transform: rotate(45deg) translate(-50%,0);
	z-index: -1;
}
.input-bubble>input{
	width: calc(100% - 26px);
}
.input-bubble>.show{
	opacity: 1;
}