/**
 * @file Contains base styles of application
 * @author Vojtěch Kulíšek
 */

* {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
svg *{
	font-size: 24px;
}

body{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #175d76;
	user-select: none;
}

button,input{
	color: #000;
	outline: none;
	padding: 6px 12px;
	border-radius: 6px;
	border: solid 1px #000;
	font-size: 15px;
	background: #fff;
	box-shadow: 0 0 0 #555;
	transition: box-shadow 0.2s;
}
button:focus,input:focus{
	box-shadow: 0 0 5px #555;
}
button:disabled,input:disabled,button.disabled{
    border: solid #777 1px;
    color: #777;
}