/**
 * @file Contains styles for game map
 * @author Vojtěch Kulíšek
 */

.dimming-map{
	position: fixed;
	width: 100%;
	height: 100%;
}
body>.map>.dimming-map{
	top: 0;
	background-color: rgba(0,0,0,0.25);
	transition: opacity 0.2s;
}
body>.map{
	position: absolute;
	height: 100%;
	width: calc(100% - 300px);
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
body>.map>.map{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
body>.map>.container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
body>.map>.dimming-map.none{
	display: none;
}

body>.map>.container>.point{
	position: absolute;
	height: 5%;
	animation: add 0.2s;
}
body>.map>.container>.point.hide{
	animation: hide 0.2s;
	opacity: 0;
	transform: scale(0);
}
body>.map>.container>.point>img{
	width: 100%;
	height: 100%;
}
body>.map>.container>.point>div{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@keyframes add{
	0%{
		transform: translateY(-100%);
		opacity: 0;
	}
	100%{
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes hide{
	0%{
		transform: translateY(0%) scale(1);
		opacity: 1;
	}
	100%{
		transform: translateY(50%) scale(0);
		opacity: 0;
	}
}

@media screen and (max-width: 760px){
	body>.map{
		width: 100%;
		margin-top: 41px;
		height: calc(100% - 156px);
	}
}