/**
 * @file Contains styles of message boxes
 * @author Vojtěch Kulíšek
 */

.messagebox{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	margin: auto;
	display: grid;
	position: fixed;
	width: 240px;
	padding: 22px;
	border-radius: 12px;
	background: rgba(255,255,255,0.95);
}

.messagebox.main-menu{
	height: 164px;
}
.messagebox.main-menu>button:first-child{
	position: relative;
	background-image: url(../img/account.svg);
	background-size: cover;
	left: 50%;
	width: 64px;
	height: 64px;
	transform: translate(-50%,0);
}
.messagebox.main-menu>input,.messagebox.main-menu>canvas{
	display: none;
}
.messagebox>*{
	margin: 6px 0;
}
.messagebox>*:last-child{
	margin-bottom: 0;
}
.messagebox>*:first-child{
	margin: 0;
}
.messagebox>label{
	display: grid;
}
.messagebox>label input{
	margin-top: 3px;
	width: calc(100% - 26px);
}
.messagebox.new-game{
	height: 409px;
}
.messagebox.new-game>.player-slot{
	padding: 6px;
	position: relative;
}
.messagebox.new-game>.player-slot>div:first-child{
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
}
.messagebox.new-game>.player-slot>.player{
	display: flex;
	position: relative;
	line-height: 0;
	text-align: left;
	align-items: center;
	background: #fff;
	opacity: 0;
	transition: opacity 0.2s;
}
.messagebox.new-game>.player-slot>.player-opened{
	opacity: 1;
}
.messagebox.new-game>.player-slot>.player>img{
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 6px;
}
.messagebox.new-game>.player-slot>.player>span{
	margin-left: 6px;
}
.messagebox.join-game{
	height: 285px;
}
.messagebox.end-game{
	top: 50%;
	bottom: auto;
	transform: translateY(-50%);
}

.messagebox.end-game>.focus{
	display: grid;
	text-align: center;
}
.messagebox.end-game>.focus>img{
	width: 128px;
	height: 128px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
	background: #000;
	border-radius: 12px;
}
.messagebox.end-game>.focus>span{
	font-size: 20px;
}
.messagebox.end-game .none{
	display: none !important;
}
.messagebox.end-game>.player{
	display: flex;
	align-items: center;
}
.messagebox.end-game>.player>*{
	margin: 3px;
}
.messagebox.end-game>.player>img{
	width: 32px;
	height: 32px;
	background: #000;
	border-radius: 6px;
}
.messagebox.end-game>.player>.profile_picture{
	border: solid 1px #000;
	border-radius: 6px;
}
.messagebox.end-game>.player>.position{
	font-size: 20px;
}
.messagebox.end-game hr{
	width: 100%;
}

.messagebox.game-message{
	height: 25px;
	align-items: center;
	text-align: center;
	font-size: 20px;
}
.messagebox.game-error{
	height: 50px;
}

.messagebox>.bottom-buttons{
	position: relative;
}
.messagebox>.bottom-buttons>button{
	width: calc(50% - 6px);
}
.messagebox>.bottom-buttons>button:last-child{
	position: absolute;
	right: 0;
}

.messagebox.closed{
	display: none;
}