/**
 * @file Contains styles of statistics
 * @author Vojtěch Kulíšek
 */

.statistics{
	position: fixed;
	left: 6px;
	top: 6px;
	margin: 0;
	height: 50px;
	background-color: #bfb;
	background-size: auto 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/statistics.svg);
	border: none;
	z-index: 1;
	transition: background-color 0.2s;
}
.statistics.closed{
	background-color: rgba(255,255,255,0.95);
}

.statistics-container{
	position: fixed;
	left: 32px;
	top: 32px;
	right: 32px;
	bottom: 32px;
	background: rgba(255,255,255,0.95);
	border-radius: 6px;
	z-index: 4;
}
.statistics-container.closed{
	display: none;
}
.statistics-container>button{
	position: absolute;
	right: -16px;
	top: -16px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-image: url(../img/close.svg);
}
.statistics-container>div{
	height: 100%;
	overflow-y: auto;
}
.statistics-container>div>div{
	flex: 1;
	margin: 22px;
	border-top: 3px #000 solid;
}
.statistics-container>div>div.none{
	display: none;
}
.statistics-container>div>div:first-child{
	border: none;
}
.statistics-container>div>div>hr{
	height: 1px;
	border: none;
	background: #000;
}
.statistics-container>div>div>.title{
	display: flex;
}
.statistics-container>div>div>div>svg{
	width: 100%;
	max-width: 500px;
    height: auto;
}
.statistics-container>div>div>.title>hr{
	flex: 1;
	border: none;
	height: 1px;
	background: #000;
	top: 0;
	bottom: 0;
	margin: auto 0 auto 6px;
}

@media screen and (min-width:760px){
	.statistics-container.panel-open{
		width: calc(100% - 374px);
	}
	.statistics-container>div{
		display: flex;
	}
	.statistics-container>div>div{
		margin: 22px 0;
		padding: 0 22px;
		border-left: 1px #000 solid;
		border-top: none;
		height: fit-content;
	}
}